<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <form action="http://127.0.0.1:5000/book" method="post">
    <label for="tittle">Tittle</label>
    <input type="text" id="tittle" name="tittle"><br> <br>

    <label for="author">Author</label>
    <input type="text" id="author" name="author"><br> <br>

    <label for="read">Read</label>
    <input type="text" id="read" name="read"><br> <br>
    <button type="submit">Submit</button>

</form>
</body>
</html>