
<!DOCTYPE html>
<html>
<head>
    <title>Aadhaar Card</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='adhar.css') }}">
</head>
<body>
    <div class="aadhaar-card">
        <div class="flag-strip">
            <div class="flag-color orange"></div>
            <div class="flag-color white"></div>
            <div class="flag-color green"></div>
        </div>

        <div class="header">
            <img src="{{ emblem_logo }}" class="emblem">
            <img src="{{ aadhaar_logo }}" class="aadhaar-logo">
        </div>

        <div class="details">
            <img src="{{ photo_url }}" class="photo">
            <div class="info">
                <p><strong>Name:</strong> {{ name }}</p>
                <p><strong>DOB:</strong> {{ dob }}</p>
                <p><strong>Gender:</strong> {{ gender }}</p>
                <p><strong>Address:</strong> {{ address }}</p>
                <p><strong>Aadhaar No:</strong> {{ aadhaar_number }}</p>
            </div>
        </div>

        <div class="footer">
            <img src="{{ fingerprint_logo }}" class="fingerprint">
        </div>
        <div class="red-line"></div>

    </div>
</body>
</html>

