<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registered Users</title>
</head>
<body>
    <h2>View Submitted details</h2>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Uploaded Image</th>

        </tr>
        <tr>
            <td>{{ name }}</td>
            <td>{{ email }}</td>
            <td>{{ phone }}</td>
            <td>
                {% if file %}
                    <img src="{{url_for('static',filename='images/'+file.filename)}}" alt="uploaded Image" width="150">
                {% else %}
                    NO image uploaded
                {% endif%}
            </td>

        </tr>

    </table>
    <br>
    <a href="{{ url_for('index') }}">Back to Home</a>
</body>
</html>