<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1" bgcolor="red">
  <thead>
  <tr>
    <th>Name</th>
    <th>Students</th>
    <th>Fee</th>
    <th>Duration</th>
    <th>Action</th>
  </tr>
  </thead>
  {% for course in de   %}
  <tr>
    <td>{{course.name}}</td>
    <td>{{course.student_no}}</td>
    <td>{{course.fee}}</td>
    <td>{{course.duration}}</td>
    <td>
      <a href="{% url 'edit_det' course.id %}" >Edit</a>
      <a href="{% url 'show_det' course.id %}" >Delete</a>

    </td>
  </tr>
  {% endfor %}
</table>

</body>
</html>