<!DOCTYPE html>
<html>
<head>
    <title>Author&Book</title>
</head>
<body>
{% extends "base.html" %}

{% block title %}{{ form_title }}{% endblock %}

{% block content %}

 <h1>Author and Book Store</h1>

{% if user.is_superuser%}
 <a href="{% url 'insert_author' %}" class="btn btn-primary mb-3" >Add Author</a>
 <a href="{% url 'insert_book' %}" class="btn btn-secondary mb-3">Add Book</a>
 {% endif %}
 <a href="{% url 'logout' %}" class="btn btn-primary mb-3"> Logout</a>
 <br> <br>
    <h2>Author</h2>
    <table border="1" cellpadding="10" cellspacing="1" class="table table-striped">
        <thead>
            <tr>
                <th>Author Name</th>
                {% if user.is_superuser%}
                <th>Actions</th>
                 {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for author in authors %}
            <tr>
                <td>{{ author.auth_name }}</td>

                    {% if user.is_superuser %}
                <td>
                    <a href="{% url 'edit_author' author.id %}" class="btn btn-sm btn-warning" >Edit</a>
                    <a href="{% url 'del_author' author.id %}" class="btn btn-sm btn-danger">Delete</a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

<h2>Books</h2>
    <table border="1" cellpadding="10" cellspacing="1" class="table table-striped">
        <thead>
            <tr>
                <th>Book_Name</th>
                <th>Author</th>
                <th>Book_Price</th>
                <th>Book_Image</th>
                {% if user.is_superuser %}
                <th>Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td>{{ book.book }}</td>
                <td>{{ book.author.auth_name }}</td>
                <td>{{ book.price }}</td>
                <td>
                    {% if book.book_image %}
                    <img src="{{book.book_image.url}}" width="100" height="150">
                    {% else %}
                    NO Image
                    {% endif %}
                </td>
                {% if user.is_superuser %}
                <td>
                  <a href="{% url 'edit_book' book.id %}" class="btn btn-sm btn-warning" >Edit</a>
                  <a href="{% url 'del_book' book.id %}" class="btn btn-sm btn-danger" >Delete</a>
                </td>
                {% endif %}

            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock %}

</body>
</html>