<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/submit" method="POST">
    <label for="name">Full Name:</label>
    <input type="text" id="name" name="name" required><br> <br>

    <label for="aadhar">Aadhar Number:</label>
    <input type="text" id="aadhar" name="aadhar" required><br> <br>

    <label for="dob">Date of Birth:</label>
    <input type="date" id="dob" name="dob" required><br> <br>


    <label for="emblem_url">Emblem URL:</label>
    <input type="text" id="emblem_url" name="emblem_url" required> <br> <br>

    <label for="logo_url">Logo URL:</label>
    <input type="text" id="logo_url" name="logo_url" required>

    <label for="photo_url">Photo URL:</label>
    <input type="text" id="photo_url" name="photo_url" required> <br> <br>


    <button type="submit">Register</button>
</form>
</body>
</html>